# Meta
.c9
.git

# Artefacts
php_errors.log

# Generated
composer.lock
system/lib/*
system/Models/*
system/Proxies/*

# Specific
config/config.ent-rbello.c9.io.php
system/install/data/*
auth.json

# Cache
/system/cache/wsdl/*