<?php

include (__DIR__ . '/../api/GestionCompteUtilisateur.php');

GestionCompteUtilisateur::sendCorsHeaders();

?><!DOCTYPE html>
<html lang="en" ng-app="EntClientApp">
<head>
    <title>title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Polymer -->
    <script src="res/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="www/res/google-map/google-map.html">
    <!-- Angular Material -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="AppCtrl" layout="column" layout-fill>

<div id="MenuBar" ng-controller="MenuCtrl">
<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3><span>Gestion des stages</span></h3>
    <span flex=""></span>
    <md-button ng-click="toggleRight()" class="md-primary" hide-gt-md="" aria-label="Toggle">
        <md-icon md-font-icon="fa-bars" style="color: white !important" class="fa s32 md-primary md-hue-2"></md-icon>
    </md-button>
    <!--<md-button class="md-fab md-primary" aria-label="Profile">
      <md-icon md-font-icon="fa-lock" class="fa s32 md-primary md-hue-2"></md-icon>
    </md-button>-->
    <!--{{demo.selectedMode}} {{demo.selectedDirection}} {{demo.isOpen}}
    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}" ng-class="demo.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-font-icon="fa-lock" class="fa s32 md-primary md-hue-2"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="twitter" class="md-fab md-raised md-mini">
            <md-icon md-font-icon="fa-lock" class="fa s32 md-primary md-hue-2"></md-icon>
          </md-button>
          <md-button aria-label="facebook" class="md-fab md-raised md-mini">
            <md-icon md-font-icon="fa-lock" class="fa s32 md-primary md-hue-2"></md-icon>
          </md-button>
          <md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
            <md-icon md-font-icon="fa-lock" class="fa s32 md-primary md-hue-2"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>-->
  </div>
</md-toolbar>
</div>

<section layout="row" flex="">
    
  <md-content flex="" layout-padding="" ng-controller="VisiteTuteurView">
  
    <md-card>
      <md-card-content>
        <p>{{sessionStages.title}}</p>
        
        <md-subheader class="md-primary">Périodes de visite tuteur</md-subheader>
        <div class="simple-timeline seg24">
          <div ng-repeat="month in sessionStages.getStagePeriodes()" title="{{month.title}}" class="{{month.classes}}"></div>
        </div>
        
        <md-subheader class="md-primary">Déroulé pédagogique</md-subheader>
        <div ng-repeat="axe in sessionStages.getAxesPeda()" class="simple-timeline seg24" class="{{axe.color}}">
          <p>{{axe.name}}</p>
          <div ng-repeat="month in sessionStages.getAxePeriodes(axe)" title="{{month.title}}" class="{{month.classes}}"></div>
        </div>
        
        
        <!--<google-map latitude="{{sessionStages.lat}}" longitude="{{sessionStages.lng}}">
          <google-map-marker latitude="37.779" longitude="-122.3892" draggable="true" title="Go Giants!"></google-map-marker>
        </google-map>-->
        <p style="clear:both">X</p>
        <!--<table ng-table>
          <thead>
            <tr>
              <th>Doo</th>
              <th>Tha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10.0</td>
              <td>Rando</td>
            </tr>
            <tr>
              <td>7.5</td>
              <td>Akabi</td>
            </tr>
          </tbody>
        </table>-->
      </md-card-content>
    </md-card>
      
  </md-content>
  
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')">
    <!--<md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>-->
    <md-content ng-controller="SideNavCtrl" layout-padding>
      <!--<form>
        <md-input-container>
          <label for="testInput">Test input</label>
          <input type="text" id="testInput" ng-model="data" md-sidenav-focus>
        </md-input-container>
      </form>-->
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised" ng-click="auth.login()">Login</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
      </section>
    </md-content>
  </md-sidenav>

</section>


<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
<!--<script src="//ng-table.com/dist/ng-table.min.js"></script>-->
<!-- Auth0 -->
<script src="//cdn.auth0.com/js/lock-7.5.min.js"></script>
<script src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
<script src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
<script src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>
<!-- Custom -->
<script src="js/ctrl.js"></script>

</body>
</html>